.task {
  // display: none;
  display: flex;
  position: relative;
  align-items: center;

  &__indicator {
    &::before {
      content: "";
      position: absolute;
      width: 50px;
      height: 50px;
      background-image: url("./../../assets/icons/checkbox.png");
      background-size: contain;
      top: -5px;
      left: 0;
    }

    &_active::after {
      content: url("./../../assets/icons/checkbox-on.svg");
      position: absolute;
      width: 26px;
      height: 18px;
      top: calc(50% - 12px);
      left: 18px;
    }
  }
  

  &__text {
    flex-grow: 1;
    height: 40px;
    margin: 0;
    padding-left: 56px;
    line-height: 40px;
    background-color: #fafaff;
    background: linear-gradient(to right, transparent, #fafaff 5%);

    &:hover ~ .task__button {
      display: block;
    }
  }

  &__button {
    display: none;
    position: absolute;
    top: 0;
    right: 30px;
    width: 30px;
    height: 40px;
    background: transparent;
    background-image: url('./../../assets/icons/pencil-icon.png');
    background-size: 17px 17px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;

    &_trash {
      right: 0;
      background-image: url('./../../assets/icons/trash_icon.png');
    }
  }
}